USE [master]
GO
/****** Object:  Database [ServerlessPortfolioWebApp]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE DATABASE [ServerlessPortfolioWebApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServerlessPortfolioWebApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ServerlessPortfolioWebApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServerlessPortfolioWebApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ServerlessPortfolioWebApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServerlessPortfolioWebApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServerlessPortfolioWebApp]
GO
/****** Object:  User [app_user]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE USER [app_user] FOR LOGIN [app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [app_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [app_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [app_user]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Skills] [nvarchar](max) NULL,
	[Experience] [nvarchar](max) NULL,
	[ProfileImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connections]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connections](
	[ConnectionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId1] [int] NOT NULL,
	[UserId2] [int] NOT NULL,
	[ConnectedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[UserLow]  AS (case when [UserId1]<[UserId2] then [UserId1] else [UserId2] end),
	[UserHigh]  AS (case when [UserId1]<[UserId2] then [UserId2] else [UserId1] end),
PRIMARY KEY CLUSTERED 
(
	[ConnectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveUsers]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   VIEW
   ========================================================= */

CREATE VIEW [dbo].[vw_ActiveUsers]
AS
SELECT
    p.UserId,
    p.Name,
    p.Email,
    (
        SELECT COUNT(*)
        FROM dbo.Connections c
        WHERE (c.UserId1 = p.UserId OR c.UserId2 = p.UserId)
          AND c.Status = 'accepted'
    ) AS ConnectionCount,
    (
        SELECT COUNT(*)
        FROM dbo.Messages m
        WHERE m.FromUserId = p.UserId OR m.ToUserId = p.UserId
    ) AS MessageCount,
    p.CreatedAt
FROM dbo.Profiles p
WHERE p.IsActive = 1;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastLoginAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Connections_Status]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Connections_Status] ON [dbo].[Connections]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Connections_User1_User2]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Connections_User1_User2] ON [dbo].[Connections]
(
	[UserId1] ASC,
	[UserId2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Connections_UserId1]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Connections_UserId1] ON [dbo].[Connections]
(
	[UserId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Connections_UserId2]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Connections_UserId2] ON [dbo].[Connections]
(
	[UserId2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [UX_Connections_UserPair]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Connections_UserPair] ON [dbo].[Connections]
(
	[UserLow] ASC,
	[UserHigh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_FromUserId]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_FromUserId] ON [dbo].[Messages]
(
	[FromUserId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_IsRead]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_IsRead] ON [dbo].[Messages]
(
	[IsRead] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SentAt]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SentAt] ON [dbo].[Messages]
(
	[SentAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ToUserId]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ToUserId] ON [dbo].[Messages]
(
	[ToUserId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Profiles_Email]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profiles_Email] ON [dbo].[Profiles]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profiles_IsActive]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profiles_IsActive] ON [dbo].[Profiles]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Profiles_UserId]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Profiles_UserId] ON [dbo].[Profiles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IsActive]    Script Date: 2026-04-16 12:02:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_IsActive] ON [dbo].[Users]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Connections] ADD  DEFAULT (getdate()) FOR [ConnectedAt]
GO
ALTER TABLE [dbo].[Connections] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Profiles] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK_Connections_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK_Connections_RequestedBy]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK_Connections_User1] FOREIGN KEY([UserId1])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK_Connections_User1]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [FK_Connections_User2] FOREIGN KEY([UserId2])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [FK_Connections_User2]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_FromUser] FOREIGN KEY([FromUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_FromUser]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_ToUser] FOREIGN KEY([ToUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_ToUser]
GO
ALTER TABLE [dbo].[Profiles]  WITH CHECK ADD  CONSTRAINT [FK_Profiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Users]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [CHK_Connections_DifferentUsers] CHECK  (([UserId1]<>[UserId2]))
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [CHK_Connections_DifferentUsers]
GO
ALTER TABLE [dbo].[Connections]  WITH CHECK ADD  CONSTRAINT [CHK_Connections_Status] CHECK  (([Status]='blocked' OR [Status]='rejected' OR [Status]='accepted' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[Connections] CHECK CONSTRAINT [CHK_Connections_Status]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [CHK_Messages_DifferentUsers] CHECK  (([FromUserId]<>[ToUserId]))
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [CHK_Messages_DifferentUsers]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMessagesBetweenUsers]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetMessagesBetweenUsers]
    @User1Id INT,
    @User2Id INT,
    @PageSize INT = 50,
    @PageNumber INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MessageId,
        FromUserId,
        ToUserId,
        Content,
        SentAt,
        IsRead,
        ReadAt
    FROM dbo.Messages
    WHERE (
            (FromUserId = @User1Id AND ToUserId = @User2Id)
         OR (FromUserId = @User2Id AND ToUserId = @User1Id)
          )
      AND IsDeleted = 0
    ORDER BY SentAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserConversations]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   STORED PROCEDURES
   ========================================================= */

CREATE PROCEDURE [dbo].[sp_GetUserConversations]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH ConversationPartners AS (
        SELECT DISTINCT
            CASE
                WHEN m.FromUserId = @UserId THEN m.ToUserId
                ELSE m.FromUserId
            END AS OtherUserId
        FROM dbo.Messages m
        WHERE (m.FromUserId = @UserId OR m.ToUserId = @UserId)
          AND m.IsDeleted = 0
    )
    SELECT
        cp.OtherUserId,
        p.Name AS OtherUserName,
        p.Email AS OtherUserEmail,
        p.ProfileImageUrl,
        lm.Content AS LastMessage,
        lm.SentAt AS LastMessageTime,
        (
            SELECT COUNT(*)
            FROM dbo.Messages um
            WHERE um.FromUserId = cp.OtherUserId
              AND um.ToUserId = @UserId
              AND um.IsRead = 0
              AND um.IsDeleted = 0
        ) AS UnreadCount
    FROM ConversationPartners cp
    INNER JOIN dbo.Profiles p
        ON p.UserId = cp.OtherUserId
    OUTER APPLY (
        SELECT TOP 1 m2.Content, m2.SentAt
        FROM dbo.Messages m2
        WHERE (
                (m2.FromUserId = @UserId AND m2.ToUserId = cp.OtherUserId)
             OR (m2.FromUserId = cp.OtherUserId AND m2.ToUserId = @UserId)
              )
          AND m2.IsDeleted = 0
        ORDER BY m2.SentAt DESC
    ) lm
    ORDER BY lm.SentAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkMessagesAsRead]    Script Date: 2026-04-16 12:02:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MarkMessagesAsRead]
    @ToUserId INT,
    @FromUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Messages
    SET IsRead = 1,
        ReadAt = GETDATE()
    WHERE ToUserId = @ToUserId
      AND FromUserId = @FromUserId
      AND IsRead = 0
      AND IsDeleted = 0;

    SELECT @@ROWCOUNT AS UpdatedCount;
END;
GO
USE [master]
GO
